<div class="bg-dark">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-5">
                    <h2 class="text-center text-dark mt-5">Login to Paint Master</h2>
                    <div class="text-center mb-5"><b>Welcom to world of colors</b></div>
                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                            alt="profile">
                    </div>
                    <div class="mb-3">                        
                        <input [disabled]='disableTextbox' type="text" class="form-control" id="Username" name="Username"
                            aria-describedby="emailHelp" placeholder="User Name" [(ngModel)]="Login.ld_username">
                    </div>
                    <div class="text-center" id="dvNext" name="dvNext">
                        <button class="btn btn-primary mb-3" (click)="onClickNext()">Next</button>
                    </div>
                    <div name="dvLogin" id="dvLogin" class="d-none">
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password"  placeholder="password"
                             [(ngModel)]="Login.ld_password">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-secondary" (click)="onClickCancel()">Cancel</button>&nbsp;
                            <button class="btn btn-primary" (click)="onClickLogin()">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>